[defaults]
host_key_checking = True
retry_files_enabled = False
interpreter_python = /usr/bin/python3
callbacks_enabled = lab_stats
callback_plugins = /workspace/ansible/callback_plugins

[ssh_connection]
password_mechanism = sshpass
pipelining = True
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new -o UserKnownHostsFile=/state/known_hosts -o PreferredAuthentications=password -o PubkeyAuthentication=no
