apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ longhorn_backup_policy.external_secret_name }}
  namespace: longhorn-system
spec:
  refreshInterval: {{ longhorn_backup_policy.refresh_interval }}
  secretStoreRef:
    name: {{ external_secrets_store }}
    kind: ClusterSecretStore
  target:
    name: {{ longhorn_backup_secret_name }}
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      engineVersion: v2
      mergePolicy: Merge
      data:
        VIRTUAL_HOSTED_STYLE: "false"
  data:
{% for target, field in {'AWS_ACCESS_KEY_ID': 'AWS_ACCESS_KEY_ID', 'AWS_SECRET_ACCESS_KEY': 'AWS_SECRET_ACCESS_KEY', 'AWS_ENDPOINTS': 'AWS_ENDPOINTS', 'BUCKET': 'BUCKET', 'REGION': 'REGION'}.items() %}
    - secretKey: {{ target }}
      remoteRef:
        key: {{ (longhorn_backup_policy.item ~ '/' ~ field) | to_json }}
{% endfor %}
